body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

#gameSpace {
    display: flex;
    width: 630px;
    height: 600px;
    border: 5px solid grey;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    #sky {
        width: 630px;
        height: 550px;
        background-color: white;

        #enemyBlocks {
            position: absolute;
            width: 100px;
            height: 100px;
        }

        #player {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: limegreen;
            top: 585px;
            left: 700px;
        }
    }
    #floor {
        width: 630px;
        height: 50px;
        background-color: red;
        bottom: 0;
    }

}